<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 東吳資管 資料結構</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        /*        #nav_bar .active {
            color: #F8F8F8;
            background-color: #4f81bd;
        }*/
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="font-size: 22px">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("資料結構 線上學習系統 A班", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "font-size: 22px" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                    <li>@Html.ActionLink("單元回顧", "Resources", "Home")</li>
                    <li>@Html.ActionLink("聯絡資訊", "Contact", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("我的進度", "Progress", "Unit", null, new { @class = "glyphicon glyphicon-education" })</li>
                    <li>@Html.ActionLink("登出", "Logout", "Home", null, new { @class = "glyphicon glyphicon-off" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 東吳資管 資料結構</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
